.container{
    min-width: 100vw;
    
    display: flex ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
   
  
}
.loader{
    animation: is-rotating 0.7s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #000;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
}

@keyframes is-rotating {
    to{
        transform: rotate(1turn);
    }
    
}